@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

/* :root {
    --fs-20: 20px;
    --fw-700: 700;
    --primary-color:orange;
    --primary-bg-color:orange;
    --ff-poppins:'Poppins', sans-serif;
    --ff-roboto:'Roboto', sans-serif;
} */



/* Navbar */
.navbar {
    --bs-navbar-toggler-icon-bg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 64 64"><path d="M 3 9 C 2.448 9 2 9.448 2 10 L 2 20 C 2 20.552 2.448 21 3 21 L 61 21 C 61.552 21 62 20.552 62 20 L 62 10 C 62 9.448 61.552 9 61 9 L 3 9 z M 4 11 L 60 11 L 60 19 L 4 19 L 4 11 z M 3 26 C 2.448 26 2 26.448 2 27 L 2 37 C 2 37.552 2.448 38 3 38 L 61 38 C 61.552 38 62 37.552 62 37 L 62 27 C 62 26.448 61.552 26 61 26 L 3 26 z M 4 28 L 60 28 L 60 36 L 4 36 L 4 28 z M 3 43 C 2.448 43 2 43.448 2 44 L 2 54 C 2 54.552 2.448 55 3 55 L 61 55 C 61.552 55 62 54.552 62 54 L 62 44 C 62 43.448 61.552 43 61 43 L 3 43 z M 4 45 L 60 45 L 60 53 L 4 53 L 4 45 z M 7 47 C 6.448 47 6 47.448 6 48 L 6 50 C 6 50.552 6.448 51 7 51 C 7.552 51 8 50.552 8 50 L 8 48 C 8 47.448 7.552 47 7 47 z M 12 47 C 11.448 47 11 47.448 11 48 L 11 50 C 11 50.552 11.448 51 12 51 C 12.552 51 13 50.552 13 50 L 13 48 C 13 47.448 12.552 47 12 47 z M 17 47 C 16.448 47 16 47.448 16 48 L 16 50 C 16 50.552 16.448 51 17 51 C 17.552 51 18 50.552 18 50 L 18 48 C 18 47.448 17.552 47 17 47 z M 22 47 C 21.448 47 21 47.448 21 48 L 21 50 C 21 50.552 21.448 51 22 51 C 22.552 51 23 50.552 23 50 L 23 48 C 23 47.448 22.552 47 22 47 z M 27 47 C 26.448 47 26 47.448 26 48 L 26 50 C 26 50.552 26.448 51 27 51 C 27.552 51 28 50.552 28 50 L 28 48 C 28 47.448 27.552 47 27 47 z M 32 47 C 31.448 47 31 47.448 31 48 L 31 50 C 31 50.552 31.448 51 32 51 C 32.552 51 33 50.552 33 50 L 33 48 C 33 47.448 32.552 47 32 47 z M 37 47 C 36.448 47 36 47.448 36 48 L 36 50 C 36 50.552 36.448 51 37 51 C 37.552 51 38 50.552 38 50 L 38 48 C 38 47.448 37.552 47 37 47 z M 42 47 C 41.448 47 41 47.448 41 48 L 41 50 C 41 50.552 41.448 51 42 51 C 42.552 51 43 50.552 43 50 L 43 48 C 43 47.448 42.552 47 42 47 z M 47 47 C 46.448 47 46 47.448 46 48 L 46 50 C 46 50.552 46.448 51 47 51 C 47.552 51 48 50.552 48 50 L 48 48 C 48 47.448 47.552 47 47 47 z M 52 47 C 51.448 47 51 47.448 51 48 L 51 50 C 51 50.552 51.448 51 52 51 C 52.552 51 53 50.552 53 50 L 53 48 C 53 47.448 52.552 47 52 47 z M 57 47 C 56.448 47 56 47.448 56 48 L 56 50 C 56 50.552 56.448 51 57 51 C 57.552 51 58 50.552 58 50 L 58 48 C 58 47.448 57.552 47 57 47 z"></path></svg>');
}

.navbar .nav-heading {
    font-size: 24px;
    font-weight: bold;
}


/* Footer */
/* Connect container */
footer .get-in-touch-container li i {
    font-size: 20px;
}

footer .connect-container li i {
    font-size: 20px;
}



/* Social media container  */
footer .social-media-icons-container li {
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
}

footer .social-media-icons-container li i {
    font-size: 24px;
    transition-duration: 0.7s;
    transition-delay: 0.2s;
}

footer .social-media-icons-container li:hover {
    background-color: black;
}

footer .social-media-icons-container li:hover i {
    color: #FFC107;
}



/* banner section */
#banner {
    height: 600px;
    width: 100%;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: top;
    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0, 0.7);
}


@media only screen and (max-width:600px) {
    .navbar .nav-heading {
        font-size: 18px;
    }

    #banner {
        height: auto;
    }
}